<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <credentials username="admin" password="password" />
    <general>
        <option name="my_name">Kenneth</option>
    </general>
    <!-- just ignore me -->
    <connection name="local" address="127.0.0.1" default="true" />
</configuration>
